<div>
    <div id="menu-bar" class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-2 justify-content-between align-items-center">
            <h1>Appointments</h1>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" id="all">All</a></li>
                    <li><a class="dropdown-item" id="today">Today</a></li>
                    <li><a class="dropdown-item" id="tomorrow">Tomorrow</a></li>
                    <li><a class="dropdown-item" id="thisweek">This week</a></li>
                    <li><a class="dropdown-item" id="nextweek">Next week</a></li>
                    <li><a class="dropdown-item" id="thismonth">This month</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex gap-2">
            <button type="button" id="dropdown_meeting" class="btn btn-primary">Meeting</button>
            <button type="button" id="dropdown_call" class="btn btn-secondary">Call</button>
            <button type="button" id="dropdown_medical" class="btn btn-success">Medical</button>
            <button type="button" id="dropdown_workshop" class="btn btn-danger">Workshop</button>
            <button type="button" id="dropdown_other" class="btn btn-warning">Other</button>
        </div>
    </div>
    <div id="appointments-body">
    </div>
</div>